apiVersion: v1
name: ht-be
description: ht-be chart that runs on kubernetes
version: {{ getenv "VERSION" }}
keywords:
  - ht-be
  - kubernetes
home: https://github.com/aliartiza75/ht-be
maintainers:
- name: Irtiza Ali
  email: aliartiza75@yahoo.com
